{% extends 'users/detail.html' %}

{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">
      {% for message in messages %}
        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>
          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>
          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ user.username }}</h3>
      </div>
      <div class="panel-body">
        <img src="{{ user.header_image_url }}" alt="header image" class="img-responsive">
        <h4>Location</h4>
        <p>{{ user.location }}</p>
        <h4>Bio</h4>
        {% if user.bio %}
          <p>{{ user.bio }}</p>
        {% else %}
          <p>No bio available.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}